<?xml version ="1.0"  encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Suite" >
    <listeners>
        <listener class-name="com.report.ExtentReportListener" />
    </listeners>
    <!-- Define the test and the classes to run -->
    <suite-files>
        <suite-file path="testng_daily.xml"></suite-file>
    </suite-files>

</suite>
